body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo{
    height: 15%;
    width: 0.1%;
   
 margin: 10px left;}

 .menu{
    height: 5%;
    width: 100%;
    margin: 10px left;
display: flex;
padding: 5 px left;
gap: 200px;}

.banner{
    height: 20%;
    width: 100%;
    margin: 10px left;
padding: 5px left;} 

.content{
    width: 100%;
    height: 55%;
    margin: 10px left;
padding: 5px left;} 


.footer{
    width: 100%;
    height: 10%;
    margin: 10px left;
padding: 5px left;} 